<div id="myChart" style="position: relative; height:35vh; width: 95%"></canvas>
</div>
<table class="table table-responsive" id="speed_table">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Max download</th>
        <th scope="col">Avg download</th>
        <th scope="col">Max upload</th>
        <th scope="col">Avg upload</th>
        <th scope="col">Days</th>
        <th scope="col">hours</th>
        <th scope="col">minutes</th>
        <th scope="col">Days</th>
        <th scope="col">hours</th>
        <th scope="col">minutes</th>
    </thead>
    <tbody>
    </tbody>
</table>